.navbar {
    padding: 0;
    z-index: 50;
}

.navbar-items {
    .nav-item {
        display: flex;
        align-items: center;

        .nav-link {
            margin: 0 .5rem;
        }

        .user-img{
            width: 21.811px;
            height: 22px;
            margin-right: 80px;

        }

        .profile-name {
            font-family: Manrope;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-top: -15px;
        }
    }
}

.nav-brand svg {
    font-size: 18px;
}

.grpField {
    position: relative;

    .form-control {
        background: #f0f7ff;
        border-radius: 8px;
        border: none;
        padding: 5px 5px 5px 30px;

        &:focus,
        :focus-visible {
            box-shadow: none !important;
        }
    }

    .srchIcn {
        position: absolute;
        top: 6px;
        left: 10px;
    }
}

.drop {
    .btn-secondary {
        background: #fff !important;
        color: #000000;
        border: none;
    }

    .btn {

        &:hover,
        &:focus,
        &:focus-visible {
            color: #000 !important;
            border: none !important;
            box-shadow: none !important;
        }
    }
    DropdownToggle::after{
        margin-left: 80px;
        margin-top: -20px;
    }
}



// Sidebar
.sidebar {
    background: #26135e;
    width: 250px;
    height: 100vh;
    overflow: auto;

    .side-item {
        list-style: none;
        padding: 0;

        .side-link {
            padding: 1rem;

            a {
                text-decoration: none;
                color: #fff;
                font-weight: bold;
            }

            &.active {
                background: #FCC703;

                a {
                    color: #fff;
                }
            }

            // h3 {
            //     color: #EFF2F4;
            //     font-size: 15.015px;
            //     font-style: normal;
            //     font-weight: 400;
            //     line-height: 22.523px;
            //     letter-spacing: 0.15px;
            //     margin-left: 30px;
            //     margin-bottom: 30px;
            // }

            .sidebar-name {
                color: #EFF2F4;
                font-size: 15.015px;
                margin-left: 40px;
                margin-top: -20px;
                font-weight: 400;
            }
        }
    }
}


.Mbllogo {
    display: none;
    padding: .5rem;
    font-size: 18px;
}

.side-logo {
    width: 10%;
}

.site-logo {
    margin-left: 35px;
}

.sidebaricon {
    width: 10%;
}







// @media(max-width : 796px) {
//     .Mbllogo{
//         display: block;
//     }

//     .sidebar{
//         transform: translateX(-150vw);
//         width: 100vw;
//         height: 100vh;
//         transition: .5s;
//     }

//     .showSide .sidebar{
//         transition: .5s;
//         transform: translateX(0);
//     }

//     .nav-brand img{
//         display: block;
//     }
// }