body {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

.main-content{
  display: flex;
  flex-wrap: nowrap;
  align-items: start;
}
.animated_div{
  animation: fadeIn .5s;
}

@keyframes fadeIn{
  from{
    opacity:0;
  }to{
    opacity: 1;
  }
}

.font-14{
  font-size: 14px;
}

.bgmain {
  background-image: url("./assets/login-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;

  label {
    font-size: 12px;
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
  }

  a {
    font-size: 12px;
    margin-top: 2px;
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
  }


}

.loginFrm {
  .Lgnleft {
    padding: 100px;
  }

  .form-control {
    padding: 17px;
    border-radius: 10px;
    font-size: 14px;
  }

  .check {
    color: #fff;
    font-weight: 400;
  }

  .logo.img-fluid {
    width: 50%;
    margin-right: 50%;
}

}

.primaryBtn {
  padding: .6rem 3rem;
  border-radius: 40px;
  text-transform: uppercase;
  font-size: 14px;
  border: 1px solid #FCC803;
  font-weight: 700;
  background: linear-gradient(75deg, #FFC107 44.85%, #FBCD00 94.37%);
  box-shadow: 0px 4px 4px 0px #FFC107;

  &:hover {
    color: #000000;
    border: 1px solid #ffffff;
    background: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
    box-shadow: 0px 4px 4px 0px #ffffff;
  }

}

.Lgnright {
  h3 {
    color: var(--yellowbtn, #FCC703);
    margin-top: 30px;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
  }

  p {
    color: #ACACAC;
    font-size: 15px;
    font-style: normal;
    font-weight: 4300;
   }
}

.login-name {
  h4 {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
  }
}

.cpyRyts {
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  margin-left: 20px;
  line-height: 20px;
}




/* Mobile View Responsive */

@media (max-width: 796px) {
  .loginFrm .Lgnleft {
    padding: 2rem;
  }

  .font-14{
    font-size: 12px !important;
  }

  .Lgnright {
    h3 {
      font-size: calc(1rem + 1vw);
    }
  }
}

@media (max-width: 1200px) {
  .Lgnright h3 {
    font-size: 26px;
  }
}

@media (max-width: 500px) {
  .Lgnright h3 {
    font-size: 20px;
  }
}
@media (max-width: 1000px) {
  .Lgnright h3 {
    font-size: 1.8rem;
  }
}
@media (max-width: 760px) {
  .Lgnright h3 {
    font-size: 1.2rem;
  }
}

@media (max-width:640px){
  .banner.img-fluid{
      display:none;
  }
}